<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UFC Management</title>
</head>
<body> 
    <!-- Authentification part -->
    <div class="container py-5">
        <div class="rounded border p-4">
            <h2 class="text-center mb-4">Contact</h2>
                <hr>
                <a href="/">Home</a>
        </div>
    </div>
</body>
</html>