<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UFC Management</title>
</head>
<body>

    
    <div class="container py-5">
        <nav class="bg-white  border-gray-200">
            <div class="container mx-auto flex justify-between items-center px-4 py-3">
                <!-- Left Links -->
                <div class="flex space-x-4">
                    <img src="./image/logo.png" alt="ufc-logo">
                    <a href="#" class="text-gray-600 hover:text-gray-900">Home</a>
                    <a href="#" class="text-gray-600 hover:text-gray-900">Contact</a>
                </div>
                <!-- Right Buttons -->
                <div class="flex space-x-4">
                    <a href="/contact" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-300">Register</a>
                    <a href="#" class="px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-300">Login</a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>