<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UFC Management</title>
</head>
<body>
    <div class="container py-5" style="max-width: 2400px">
        <nav class="bg-white border-gray-200">
            <div class="container mx-auto flex justify-between items-center px-4 py-3" style="max-width: 2400px">
                <!-- Left Links -->
                <div class="flex space-x-4">
                    <img src="image/logo.png" alt="ufc-logo" class="size-14 mb-4">
                    <a href="#" class="text-gray-600 hover:text-gray-900 mt-3 font-semibold">Home</a>
                    <a href="#" class="text-gray-600 hover:text-gray-900 mt-3 font-semibold">Contact</a>
                </div>

                <!-- Right Buttons // If user is authneticated  -->
                <div class="flex space-x-4 items-center" sec:authorize="isAuthenticated()">

                    <!-- USER BUTTON  -->
                    <ul class="flex items-center" sec:authorize="isAuthenticated()">
                        <li class="relative group">
                            <button data-dropdown-toggle="dropdown" class="flex items-center dark:focus:ring-blue-800 bg-blue-600 hover:bg-blue-400 text-slate-50 focus:outline-none px-4 py-2 rounded-md">
                                User
                                <!-- Arrow dropdown -->
                                <svg class="ml-2 w-4 h-4" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                                </svg>
                            </button>
                            <ul class="absolute right-0 hidden mb-3 space-y-2 bg-white border border-gray-200 rounded-lg shadow-lg group-hover:block bg-zinc-800">
                                <li><a class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-slate-800 text-white" href="/profile">Profile</a></li>
                                <li><a class="block px-4 py-2 text-gray-800 hover:bg-gray-300 hover:text-slate-800 text-white" href="#">Home</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Bouton Logout -->
                    <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                        <sec:csrfInput />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 px-4 py-2 rounded-md">
                            Logout
                        </button>
                    </form>
                </div>

                <!-- Register / Login Links -->
                <div class="flex space-x-4" sec:authorize="!isAuthenticated()">
                    <a href="/register" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-300">Register</a>
                    <a href="/login" class="px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-300">Login</a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
