<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:if="{user != null}">Profil de <span th:text="${user.firstName}">user</span></h1>
    <h1 th:if="{user == null}">Profil de <span th:text="${error}">User not found </span></h1>
</body>
</html>